<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06351E7A1E627BBC006DCA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06351E931E627BBC006DCA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06351E9E1E627BBC006DCA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
